div {
    background-color: rgb(251, 251, 251);
    text-align: center;
    #buttonDiv{
        margin-top: 10px;
        button{
            margin-right: 15px;
        }

    }

#section{
    height: 50vh;
    border-style:solid;
    border-width: 1px;
    border-color: rgb(224, 235, 235);
    margin-top: 5%;
    p {
      font-size: 1em;
    }
}
}